body{
    background-color: rgba(136, 132, 132, 0);
    background-image: url("https://wallpaperaccess.com/full/2014748.jpg");
    
    
    
}


.content{
    border-radius: 10%;
    background-color: rgba(240, 255, 240, 0.513);
    width: 30%;
    padding: 0.9%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}

input{
    border-radius: 0%;
    border-color: transparent;
    width: 30%;
    padding: 0.9%;
    font-family: sans-serif;

}

h1{
    font-family: sans-serif;
    
}

#profile{
    width: 50%;
    border-radius: 600%;
}

button {
    border: 30%;
    width: 20%;
    height: 200%;
    background-color: rgba(162, 175, 162, 0.609);
    text-decoration: none;
    
    border: none;
    padding: 2%;
    border-radius: 10%;
}

button:hover{
    background-color: rgb(162, 175, 162);
    cursor: pointer;
}

/*Media Devices*/

@media only screen and (max-width: 600px) {
    .content{
        width: 90%;
    }
  }
